title
{
	font-family:Verdana, "Trebuchet MS", Arial;
	font-weight:bold;
	font-size:100px;
}

style
        {
            background-color:green;
        }

style2
		{
			  background-color:red;
		}

table
{
	font-family:Verdana, "Trebuchet MS", Arial;
	font-weight:normal;
	font-size:15px;
	margin: auto;
}

body
{
	background-image: url('body.jpg');
	background-size:cover;
	color: white;
	text-align: center;
}
li
{

	color: white;
	font-family:Verdana, "Trebuchet MS", Arial;
	font-weight:normal;
	font-size:40px;


}
h1
{

	color: white;
	font-family:Verdana, "Trebuchet MS", Arial;
	font-weight:normal;
	font-size:40px;
}
a:link, a:visited, a:hover, a:active {



color: white;

padding: 10px 25px;

text-align: center;

text-decoration: none;

display: inline-block;

}

form
{

	color: white;
	font-family:Verdana, "Trebuchet MS", Arial;
	font-weight:normal;
	font-size:30px;
}
